/* .categorias-container {
  padding: 2rem;
}

.categorias-grid {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.categoria-card {
  cursor: pointer;
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 8px;
  width: 150px;
  text-align: center;
  background-color: #f9f9f9;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

.categoria-card:hover {
  transform: scale(1.05);
}
.mensaje-proximo {
  margin-top: 1rem;
  font-style: italic;
  color: #555;
}
.categoria-blue {
  background-color: #3498db;
  color: white;
}

.categoria-green {
  background-color: #2ecc71;
  color: white;
}

.categoria-orange {
  background-color: #e67e22;
  color: white;
}

.categoria-purple {
  background-color: #9b59b6;
  color: white;
}

.categoria-gray {
  background-color: #7f8c8d;
  color: white;
} */
